<div class="watchlist-container">
  <h2>My Watchlist</h2>
  <div class="content-list">
    <div class="content-card" *ngFor="let item of allContents" (mouseleave)="stopRating()">
      <div class="card-image" [style.backgroundImage]="'url(' + item.poster + ')'">
        <button class="add-btn" (click)="addToWatchlist(item.id)" [disabled]="isInWatchlist(item.id)">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M12 5v14M5 12h14" stroke="currentColor" fill="none" stroke-width="4" stroke-linecap="round"/>
          </svg>
        </button>
        <button class="rating-btn" (click)="startRating(item.id)">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
          </svg>
        </button>
        <div class="own-rating-tag" *ngIf="getRating(item.id) !== null">
          <span class="rating-icon star-icon">★</span>
          {{ getRating(item.id) }}
        </div>
        <div class="rating-overlay" *ngIf="selectedContentId === item.id && !isRatingSubmitted"></div>
        <div class="rating-input-container" *ngIf="selectedContentId === item.id && !isRatingSubmitted">
          <div class="rating-input-wrapper">
            <input type="text" [(ngModel)]="ratingScore" placeholder="0.0 - 10.0" class="rating-input" (keydown.enter)="submitRating()" #ratingInput />
            <button class="submit-rating-btn" (click)="submitRating()">Submit</button>
          </div>
        </div>
      </div>
      <p class="card-title">{{ item.title }} ({{ item.releaseYear }})</p>
      <div class="ratings-container">
        <div class="imdb-rating" *ngIf="item.imdbRating">
          <img src="/assets/images/imdb-logo.png" alt="IMDb" class="rating-icon imdb-rating-icon" />
          {{ item.imdbRating }}
        </div>
        <div class="rt-rating" *ngIf="item.rtRating">
          <img src="/assets/images/rt-logo-cf.png" alt="Rotten Tomatoes" class="rating-icon rt-rating-icon" />
          {{ item.rtRating }}
        </div>
      </div>
    </div>
  </div>
</div>